.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.dados{
    padding: 0;
    list-style: none;
}
.dados li{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.8rem;
}
.dados li::before{
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: #ddd;
    margin-right: .5rem;
}