.produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.produto img{
    margin-bottom: 2rem;
}
.preco{
    padding: 0.5rem;
    background-color: #91fb5d;
    color: #017e01;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    font-weight: 600;
}
.descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}